table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td,
  th {
    /* border: 1px solid #dddddd; */
    border-top:1px solid #dddddd ;
    border-right:1px solid #dddddd ;
    border-left:1px solid #dddddd ;
    text-align: left;
    padding: 8px;
  }

  /* tr:nth-child(even) {
    background-color: #dddddd;
  } */